@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  width: 100%;
}

@layer base {
  :root {
    --color-primary: 88 101 242;
    --color-black: 14 15 16;
    /* TODO: add light theme colors */
  }

  .dark {
    --color-background: 30 31 34;
    --color-semibackground: 30 31 34;
    --color-midground: 43 45 49;
    --color-foreground: 49 51 56;
    @apply text-gray-100;
  }
  body {
    background-color: rgb(var(--color-foreground));
  }

  * {
    scrollbar-width: auto;
    scrollbar-color: rgb(var(--color-background)) rgb(var(--color-midground));
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(var(--color-midground));
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-background));
    border-radius: 6px;
    border: none;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &:not(:hover) {
    scrollbar-width: 0;
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}